@switch (selectedLayout) {
  @case (layoutType.SINGLE) {
    <div [class]="block ? 'layout blocked' : 'layout'" [id]="selectedLayout">
      <div [class]="data.gridSelected === 0 ? 'grid selected-grid' : 'grid'" (click)="setGrid(0)"></div>
    </div>
  }
  @case (layoutType.HORIZONTAL_TWO) {
    <div [class]="block ? 'layout blocked' : 'layout'" [id]="selectedLayout">
      <div [class]="data.gridSelected === 0 ? 'grid selected-grid' : 'grid'" (click)="setGrid(0)"></div>
      <div [class]="data.gridSelected === 1 ? 'grid selected-grid' : 'grid'" (click)="setGrid(1)"></div>
    </div>
  }
  @case (layoutType.VERTICAL_TWO) {
    <div [class]="block ? 'layout blocked' : 'layout'" [id]="selectedLayout">
      <div [class]="data.gridSelected === 0 ? 'grid selected-grid' : 'grid'" (click)="setGrid(0)"></div>
      <div [class]="data.gridSelected === 1 ? 'grid selected-grid' : 'grid'" (click)="setGrid(1)"></div>
    </div>
  }
  @case (layoutType.HORIZONTAL_THREE) {
    <div [class]="block ? 'layout blocked' : 'layout'" [id]="selectedLayout">
      <div [class]="data.gridSelected === 0 ? 'grid selected-grid' : 'grid'" (click)="setGrid(0)"></div>
      <div [class]="data.gridSelected === 1 ? 'grid selected-grid' : 'grid'" (click)="setGrid(1)"></div>
      <div [class]="data.gridSelected === 2 ? 'grid selected-grid' : 'grid'" (click)="setGrid(2)"></div>
    </div>
  }
  @case (layoutType.VERTICAL_THREE) {
    <div [class]="block ? 'layout blocked' : 'layout'" [id]="selectedLayout">
      <div [class]="data.gridSelected === 0 ? 'grid selected-grid' : 'grid'" (click)="setGrid(0)"></div>
      <div [class]="data.gridSelected === 1 ? 'grid selected-grid' : 'grid'" (click)="setGrid(1)"></div>
      <div [class]="data.gridSelected === 2 ? 'grid selected-grid' : 'grid'" (click)="setGrid(2)"></div>
    </div>
  }
  @case (layoutType.ONE_TOP_TWO_BOTTOM) {
    <div [class]="block ? 'layout blocked' : 'layout'" [id]="selectedLayout">
      <div [class]="data.gridSelected === 0 ? 'grid selected-grid' : 'grid'" (click)="setGrid(0)"></div>
      <div class="sub-layout">
        <div [class]="data.gridSelected === 1 ? 'grid selected-grid' : 'grid'" (click)="setGrid(1)"></div>
        <div [class]="data.gridSelected === 2 ? 'grid selected-grid' : 'grid'" (click)="setGrid(2)"></div>
      </div>
    </div>
  }
  @case (layoutType.TWO_TOP_ONE_BOTTOM) {
    <div [class]="block ? 'layout blocked' : 'layout'" [id]="selectedLayout">
      <div class="sub-layout">
        <div [class]="data.gridSelected === 0 ? 'grid selected-grid' : 'grid'" (click)="setGrid(0)"></div>
        <div [class]="data.gridSelected === 1 ? 'grid selected-grid' : 'grid'" (click)="setGrid(1)"></div>
      </div>
      <div [class]="data.gridSelected === 2 ? 'grid selected-grid' : 'grid'" (click)="setGrid(2)"></div>
    </div>
  }
  @case (layoutType.ONE_LEFT_TWO_RIGHT) {
    <div [class]="block ? 'layout blocked' : 'layout'" [id]="selectedLayout">
      <div [class]="data.gridSelected === 0 ? 'grid selected-grid' : 'grid'" (click)="setGrid(0)"></div>
      <div class="sub-layout">
        <div [class]="data.gridSelected === 1 ? 'grid selected-grid' : 'grid'" (click)="setGrid(1)"></div>
        <div [class]="data.gridSelected === 2 ? 'grid selected-grid' : 'grid'" (click)="setGrid(2)"></div>
      </div>
    </div>
  }
  @case (layoutType.TWO_LEFT_ONE_RIGHT) {
    <div [class]="block ? 'layout blocked' : 'layout'" [id]="selectedLayout">
      <div class="sub-layout">
        <div [class]="data.gridSelected === 0 ? 'grid selected-grid' : 'grid'" (click)="setGrid(0)"></div>
        <div [class]="data.gridSelected === 1 ? 'grid selected-grid' : 'grid'" (click)="setGrid(1)"></div>
      </div>
      <div [class]="data.gridSelected === 2 ? 'grid selected-grid' : 'grid'" (click)="setGrid(2)"></div>
    </div>
  }
  @case (layoutType.FOUR) {
    <div [class]="block ? 'layout blocked' : 'layout'" [id]="selectedLayout">
      <div class="sub-layout">
        <div [class]="data.gridSelected === 0 ? 'grid selected-grid' : 'grid'" (click)="setGrid(0)"></div>
        <div [class]="data.gridSelected === 1 ? 'grid selected-grid' : 'grid'" (click)="setGrid(1)"></div>
      </div>
      <div class="sub-layout">
        <div [class]="data.gridSelected === 2 ? 'grid selected-grid' : 'grid'" (click)="setGrid(2)"></div>
        <div [class]="data.gridSelected === 3 ? 'grid selected-grid' : 'grid'" (click)="setGrid(3)"></div>
      </div>
    </div>
  }
  @default {
    <div [class]="block ? 'layout blocked' : 'layout'" [id]="layoutType.ONE_LEFT_TWO_RIGHT">
      <div [class]="data.gridSelected === 0 ? 'grid selected-grid' : 'grid'" (click)="setGrid(0)"></div>
      <div class="sub-layout">
        <div [class]="data.gridSelected === 1 ? 'grid selected-grid' : 'grid'" (click)="setGrid(1)"></div>
        <div [class]="data.gridSelected === 2 ? 'grid selected-grid' : 'grid'" (click)="setGrid(2)"></div>
      </div>
    </div>
  }
}
