<div class="page-wrapper">
  <app-logo />

  <section>
		<div class="container-root">
      <div id="left">
        <app-layout-selector [data]="data"/>
      </div>
  
      <div id="right">
        <app-terminal [data]="data"/>
      </div>
    </div>
	</section>

  <div id="generate-btn">
    <button (click)="batService.generateBatFile(data)">Generate</button>
  </div>

  <footer>Developed by <a href="https://github.com/apalaciosdev" class="underline" target="_blank">apalacios</a></footer>
</div>
