<div>
  <app-logo />

  <section>
		<div class="container-root">
      <div id="left">
        <app-layout-selector [data]="data"/>
      </div>
  
      <div id="right">
        <app-terminal [data]="data"/>
      </div>
    </div>

   
    
    <!-- {{data | json}} -->

      <!-- <div style="height: 300px; width: 300px;">
        <app-layout [layout]="layoutType.ONE_LEFT_TWO_RIGHT"/>
      </div> -->

		<!-- <div class="container" id="left"><GridSelector/></div>
		<div class="container" id="right">{selectedLayout.value}</div> -->
	</section>
  <!-- <p>{{data | json}}</p> -->
  
  <button (click)="batService.generateBatFile(data)">Generate</button>
</div>