<h3>> Define commands</h3>

<div class="terminal">
  <div class="history" id="history">
    @for (command of data.gridCommands[data.gridSelected]; track $index) {
      <div class="command">
        <div class="command-header">
          <span class="icons">
            <img src="delete-terminal.svg" alt="Delete command" title="Delete" (click)="deleteCommand($index)">
            <img src="edit-terminal.svg" alt="Edit command" title="Edit" (click)="editCommand($index)">
          </span>
          <span class="command-text">> {{ command }}</span>
        </div>
      </div>
    }
  </div>

  <div class="input">
    <span>{{editMode.status ? 'edit' : null}}></span>
    <div class="cursor">
      <input 
        type="text" 
        [(ngModel)]="inputCommand" 
        (keyup.enter)="executeCommand()" 
        placeholder="Enter a command..."
        class="rq-form-element"
        spellcheck="false"
        id="inputCommand"
      />
      <i></i>
    </div>
  </div>
</div>