@import "./components/modal.scss";
@import "./components/logo.scss";
@import "./components/layout.scss";
@import "./components/layout-selector.scss";

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #1E1E1E;
  color: white;
  font-family: 'Fira Code', sans-serif;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 36px;
  text-align: left;
}

h2 {
  font-weight: 300;
  font-size: 15px;
  text-align: center;
}









app-root {
  section {
    display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		height: 300px;
		width: 100%;
    margin-top: 5em;

    div {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
    }

    #left {
      justify-content: center;
    }
  
    #right {
      justify-content: center;
    }
  }
}